@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap");
body{font-family:'Open Sans', sans-serif}
.bg-black{
	background-color:#000
	}
.bg-apple{
	background-color:#fafafa
	}
#siteHeader,#siteFooter{
	font-family:'Bebas Neue', cursive;
	font-size:30px
	}
#siteHeader .miLogo{
	background:url("../assets/logo.svg") no-repeat;
	width:50px;
	height:40px;
	display:block
	}
#siteBanner{background-image:url("../assets/imagen4.jpg");
	background-size:cover;
	background-position:50%;
	min-height:400px;
	height:50vh;
	position:relative
			}
#siteBanner span{position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
	background-position:50%;
	opacity:.6
	}
#siteBanner h3{
		font-family:'Roboto', sans-serif;
		font-size:30px;
		line-height:1.25em;
		font-weight:900
		}
#siteBanner p{
	font-family:'Montserrat', sans-serif
	}
#siteImacs a{
	color:#2c5f96
	}
#siteFooter p{
	margin-bottom:.5em
	}
#siteFooter{
	bottom:0;
	position:fixed;
	width:100%
	}
.noticias__titulo{
	background-color:#444;
	color:#fff
	}
.noticias__titulo--bg--light{
	background-color:#ccc;
	color:#444
	}
.form-group{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
}
.btn-primary{
	margin-left: 20%
}
#trabajos{
	display: grid;
	grid-template-areas: 
	"mod fot"
	"ren ani"
	"dis dis";
	grid-template-rows: 15rem 15rem 15rem; 
    grid-template-columns: 20rem 20rem ;
    justify-content: space-evenly;
	justify-items: stretch; /* start | end | center | stretch */
	align-items: stretch;	
	align-self: stretch;
	margin: 10px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	text-decoration: none;
	color: black;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	font-family: 'Bebas Neue', cursive;
	}
article{
	background-color: yellow;
	text-decoration: none;
	color: black;
	font-style: normal;
	font-weight: bold;
	font-size: 2rem;
	font-family: 'Bebas Neue', cursive;
}