/*variables*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

$fuenteUno: Bebas Neue, cursive;
$fuenteDos: Roboto, sans-serif;
$fuenteTres: Montserrat, sans-serif;