@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#e3ffe7), to(#d9e7ff));
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* generales */
html {
  /* etiqueta raíz */
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Montserrat';
}

/*flex*/
#trabajos {
  padding: 0;
  width: auto;
  height: 45%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#trabajos2 {
  padding: 0;
  width: auto;
  height: 45%;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (min-width: 566px) {
  #trabajos, #trabajos2 {
    padding: 0;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.bg-black {
  background-color: #000;
}

#siteHeader, #siteFooter {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

#siteHeader .miLogo {
  background: url("../assets/logo.svg") no-repeat;
  width: 50px;
  height: 40px;
  display: block;
}

#siteBanner {
  background-image: url("../assets/imagen4.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

#siteBanner span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #22c1c3;
  background: -webkit-gradient(linear, left top, left bottom, from(#22c1c3), to(rgba(253, 187, 45, 0.323424)));
  background: linear-gradient(180deg, #22c1c3 0%, rgba(253, 187, 45, 0.323424) 100%);
  background-position: 50%;
  opacity: .6;
}

#siteBanner span h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  line-height: 1.25em;
  font-weight: 900;
}

#siteBanner span p {
  font-family: 'Montserrat', sans-serif;
}

.tituloForm {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: 900;
  text-align: center;
}

.form-check-label {
  padding: 2px;
}

.tituloGaleria {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.25em;
  font-weight: 900;
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  top: calc(50% - 25px);
  opacity: .8;
}

.carousel-control-next {
  right: 5%;
}

.carousel-control-prev {
  left: 5%;
}

.textoCuerpo {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  position: relative;
  padding: 5%;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 566px) {
  .textoCuerpo {
    font-size: 6rem;
    position: relative;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }
}

#siteFooter {
  z-index: 0;
  margin-top: .5em;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: block;
}

#siteFooter p {
  margin-bottom: .5em;
}

.form-group {
  height: auto;
  margin-right: 30%;
  margin-left: 30%;
}

.btn-primary {
  margin-top: auto;
  margin-left: 30%;
}
/*# sourceMappingURL=estilos.css.map */