@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap");
body{
	font-family:'Open Sans', sans-serif;
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
@import 'generales', 'flex';

.bg-black{
	background-color:#000
	}
#siteHeader,#siteFooter{
	font-family:'Bebas Neue', cursive;
	font-size:30px
	}
#siteHeader .miLogo{
	background:url("../assets/logo.svg") no-repeat;
	width:50px;
	height:40px;
	display:block
	}
#siteBanner{
	background-image:url("../assets/imagen4.jpg");
	background-size:cover;
	background-position:50%;
	min-height:400px;
	height:50vh;
	position:relative;
		
		span{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			background: rgb(34,193,195);
			background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.32342443813462884) 100%);
			background-position:50%;
			opacity:.6	
			h3{
				font-family:'Roboto', sans-serif;
				font-size: 35px;
				line-height:1.25em;
				font-weight:900
				}
				p{
					font-family:'Montserrat', sans-serif
					}
		}

			
}
.tituloForm{
	margin-top: 5rem;
	font-family:'Roboto', sans-serif;
	font-size: 2rem;
	line-height:1.25em;
	font-weight:900;
	text-align: center;
}
.tituloGaleria{
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family:'Roboto', sans-serif;
	font-size: 2rem;
	line-height:1.25em;
	font-weight:900;
	text-align: center;
}
.carousel-control-next, 
.carousel-control-prev{
	width: 50px;
	height: 50px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	top: calc(50% - 25px);
	opacity: .8;
}
.carousel-control-next{
	right: 5%;
}
.carousel-control-prev{
	left: 5%;
}
.textoCuerpo{
	width: 100%;
	font-family:'Roboto', sans-serif;
	font-size: 2rem;
	position: relative;
	padding: 5%;
	display: block;
	text-align: center;
}
@media only screen and (min-width: 566px){
	.textoCuerpo{
		font-size: 6rem;
		position: relative;
		margin-bottom: 15px;
		display:block;
		text-align: center;
	}
}	

#siteFooter{
	z-index:0;
	margin-top: .5em;
	bottom:0;
	position: fixed;
	width:100%;
	display: block;
	p{
		margin-bottom:.5em
		}
	}
.form-group{
	height: auto;
	margin-right: 30%;
	margin-left: 30%;
}
.btn-primary{
	margin-top: auto;
	margin-left: 30%
}
